.error-fallback {
  padding: 16px;
  background-color: #f8d7da;
  border-radius: 8px;
}

.error-fallback h2 {
  color: #721c24;
  margin-bottom: 8px;
}

.error-fallback p {
  color: #721c24;
}

.error-fallback pre {
  color: red;
  white-space: normal;
  word-wrap: break-word;
}
